@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-blue: #0C8346;
  --color-brand-blue-hover: #0A6B39;
  --color-brand-whatsapp: #25D366;
  --color-brand-green-hover: #20bd5c;
  
  --animate-marquee: marquee 60s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

body {
  @apply bg-white text-black font-sans antialiased;
}

